# --- Logging ---
# Options: error, warn, info, debug, trace
RUST_LOG="socky_be=debug,tower_http=debug"

# --- App ---
SOCKY_APP__PORT="8000"
SOCKY_APP__HOST="0.0.0.0"
SOCKY_APP__WEB_FOLDER="web-folder"

# --- Database ---
SOCKY_DB__URL=
SOCKY_DB__MAX_CONN="10"
SOCKY_DB__MIN_CONN="1"
SOCKY_DB__CONN_TIMEOUT_SECONDS="10"
SOCKY_DB__IDLE_TIMEOUT_SECONDS="0"

# --- Auth ---
SOCKY_AUTH__ACCESS_TOKEN_EXPIRATION_SECONDS="900"
SOCKY_AUTH__REFRESH_TOKEN_EXPIRATION_SECONDS="1296000"

# --- Auth Secrets ---
SOCKY_AUTH__ACCESS_TOKEN_SECRET=
SOCKY_AUTH__REFRESH_TOKEN_SECRET=
SOCKY_AUTH__REFRESH_TOKEN_PEPPER=
SOCKY_AUTH__PASSWORD_PEPPER=