# --- Logging ---
# Options: error, warn, info, debug, trace
RUST_LOG="socky_be=debug,tower_http=debug"

# --- Server ---
SOCKY_APP_PORT="8000"
SOCKY_APP_HOST="0.0.0.0"

# --- Database ---
SOCKY_DB_URL=
SOCKY_DB_MAX_CONN="10"
SOCKY_DB_MIN_CONN="1"
SOCKY_DB_CONN_TIMEOUT_SECONDS="10"
SOCKY_DB_IDLE_TIMEOUT_SECONDS="0"

# --- JWT ---
SOCKY_ACCESS_TOKEN_EXPIRATION_SECONDS="900"
SOCKY_REFRESH_TOKEN_EXPIRATION_SECONDS="1296000"

# --- Secrets ---
SOCKY_ACCESS_TOKEN_SECRET=
SOCKY_REFRESH_TOKEN_SECRET=
SOCKY_REFRESH_TOKEN_PEPPER=
SOCKY_PASSWORD_PEPPER=

# --- Others ---
SOCKY_WEB_FOLDER="web-folder"